/* styles.css */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 50%;
  height: auto;
}

body {
  background-color: black;
  color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

#content {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#project-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.project {
  background-color: #2e2e2e;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  flex: auto;
}

.todo {
  background-color: #3e3e3e;
  margin: 5px 0;
  padding: 10px;
  border-radius: 3px;
}
