/* styles.css */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 50%;
  height: auto;
}

body {
  background-color: black;
  color: lightgray;
  height: 100vh;
}

#header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

#content {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#project-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
}

.project {
  background-color: #2e2e2e;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  /* display: flex;
  align-items: center; */
}

.todo {
  background-color: #3e3e3e;
  margin: 5px 0;
  padding: 10px;
  border-radius: 3px;
}

dialog {
  margin-top: 1rem;
  background-color: #2e2e2e;
  color: lightgray;
}

form {
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input:focus {
  background-color: yellow;
}

label {
  display: inline-block;
}

p label {
  width: 100%;
}

dialog::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  box-shadow: none;
}
input:valid {
  box-shadow: 0 0 5px 1px green;
}
